<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lu_xinghe.project600final">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="SU News"
        android:theme="@style/AppTheme">
        <activity
            android:name=".newsPage.NewsPageActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".newsDetails.NewsDetailsActivity" />
        <activity
            android:name=".Favorites.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Favorites.FavDetails.FavDetailsActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme" />
        <activity android:name=".Comment.CommentActivity" />
        <activity
            android:name=".Authentication.AuthenticationActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Account.AccountActivity"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Account.EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.Dark"></activity>
    </application>

</manifest>
